:root {
  --fuente: #f8f8f8;
  --fuente2: #4b4b4b; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px; }

body {
  font-family: 'Poppins', sans-serif;
  background-color: #000000; }

button {
  background-color: transparent;
  border: none;
  cursor: pointer; }
  button:hover {
    outline: none;
    -webkit-tap-highlight-color: transparent; }

input:focus-within {
  outline: none; }

.background {
  position: absolute;
  background-image: url("./assets/image/background-image.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
  height: 100vh;
  width: 100vw; }

.main-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--fuente);
  overflow: hidden; }

.dj-info {
  position: absolute;
  top: 0;
  padding-top: 40px;
  display: block;
  width: 100%; }

.chat {
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
  display: block;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .chat-button-open {
    background-color: var(--fuente);
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin: 0 20px; }
    .chat-button-open i {
      font-size: 1.4rem;
      color: var(--fuente2); }
  .chat-container {
    height: 0;
    width: 100vw; }

.message {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateX(100vw); }
  .message-button-container {
    display: flex;
    justify-content: flex-end; }
  .message-button-close {
    padding: 15px 20px; }
    .message-button-close i {
      font-size: 1.2rem;
      color: var(--fuente); }
  .message-list {
    padding: 0 20px;
    margin-bottom: 10px;
    flex-grow: 1;
    overflow-y: scroll; }
  .message-item {
    list-style: none;
    margin-bottom: 5px;
    max-width: 70%; }
  .message .right {
    text-align: right;
    margin-left: auto; }
  .message-author {
    font-size: .55rem;
    display: block;
    padding: 0 8px;
    margin-bottom: 2px;
    padding-top: 10px; }
    .message-author-none {
      display: none; }
  .message-text {
    font-size: .95rem;
    display: inline-block;
    background-color: rgba(172, 172, 172, 0.4);
    padding: 3px 15px;
    border-radius: 20px; }
  .message-form {
    padding: 0 20px;
    display: flex; }
    .message-form input {
      background-color: transparent;
      border: 1px solid rgba(248, 248, 248, 0.5);
      border-radius: 20px;
      padding: 8px 20px;
      flex-grow: 1;
      color: var(--fuente);
      font-size: 1rem; }
    .message-form button {
      color: var(--fuente);
      font-size: 1rem;
      padding-left: 10px; }

.chat-open .dj-info,
.chat-open .audio {
  visibility: hidden; }

.chat-open .chat {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); }

.chat-open .chat-button-open {
  display: none; }

.chat-open .message {
  height: 100%;
  opacity: 1;
  transform: translateX(0);
  transition: opacity .2s, transform .2s; }

.popup {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: var(--fuente);
  border-radius: 5px;
  width: 90%;
  padding: 20px 0;
  top: 20%;
  opacity: 0;
  transform: translateY(25px);
  visibility: hidden;
  transition: opacity .2s, transform .2s; }
  .popup-text {
    color: #1f1f1f;
    text-align: center;
    margin-bottom: 10px; }
  .popup-form {
    width: 60%;
    margin: 0 auto; }
    .popup-form input {
      background-color: transparent;
      border: 1px solid #1f1f1f;
      padding: 5px 8px;
      border-radius: 20px;
      display: block;
      margin: 0 auto;
      margin-bottom: 8px; }
    .popup-form button {
      background-color: #1f1f1f;
      display: block;
      color: var(--fuente);
      padding: 5px 20px;
      border-radius: 5px;
      margin: 0 auto; }
  .popup-show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible; }

.radio {
  display: none; }

.background,
.dj-info,
.chat {
  opacity: 0;
  transition: opacity 2s;
  visibility: hidden; }

.played .background,
.played .dj-info,
.played .chat {
  visibility: visible;
  opacity: 1; }

.audio-svg {
  outline: none; }

.loading {
  position: absolute;
  bottom: 50px;
  display: none; }
  .loading-show {
    display: initial; }
